[package]
name = "tsunami"
version = "0.10.0"

description = "Toolkit for running short-lived jobs on cloud VMs"
readme = "README.md"

authors = ["Jon Gjengset <jon@thesquareplanet.com>", "Akshay Narayan <akshayn@mit.edu>"]

documentation = "https://docs.rs/tsunami"
homepage = "https://github.com/jonhoo/tsunami"
repository = "https://github.com/jonhoo/tsunami.git"

keywords = ["ec2", "aws", "azure", "vm", "spot-instances", "distributed", "benchmark"]
categories = []

license = "MIT/Apache-2.0"
edition = "2018"

[badges]
travis-ci = { repository = "jonhoo/tsunami" }
maintenance = { status = "passively-maintained" }

[features]
debug = ["slog/max_level_trace", "slog/release_max_level_debug"]

[dependencies]
educe = "0.4"
itertools = "0.8"
rusoto_core = "0.40"
rusoto_ec2 = "0.40"
ssh2 = "0.3.2"
failure = "0.1.1"
rand = "0.7"
rayon = "1"
tempfile = "3.0.0"
serde = { version = "1", features = ["derive"]}
structopt = "0.2"
serde_json = "1"
sessh = "0.1.3"
slog-term = "2"
slog = "2"

[profile.release]
debug = true
